body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", "Arial", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}
/*ここからheader*/
li {
    list-style-type: none;
}
header {
    position: relative;
    width: 100%;
    display: flex;
    background-color: #b9e1f5;
}

.header_title {
    display: flex;
    font-family: "Monomaniac One", sans-serif;
    font-weight: 400;
    font-size: 60px;
    color: #f3f3f3;
    letter-spacing: 0.2rem;
    margin:0 auto;
}

.header_title::before{
    content: url("ramune.png");
    transform: scaleX(-1);
    margin-right:20px;
}

.header_title::after{
    content: url("ramune.png");
    margin-left:20px;
}
.logo {
    width: 100px;
    height: 100px;
}
/*ここからmainのCSS*/

.student-image{
    position: relative;
}
.mouse_over_eria {
    display: block;
    position: absolute;
    height: 450px;
    width: 200px;
    opacity: 0;
    top:-10px;
    background-color: #b9e1f5;
}


.student-image span {
    left: 0;
    position: absolute;
    opacity: 0;
}    


.main_image {    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.main_image img:hover {
    opacity: 0.7;
} 
.student {
    position: relative;
    z-index: 5;
}




.send {
    left: -20px;
    top:-12px;
    transform: translate(-80%, 0) rotate(0deg) translate(200px) rotate(0deg);
}
.view {
    top: 150px;
}


.bubble {
    position: absolute;
    background-image: url("bubble.png");
    width: 55px;
    height: 55px;
    pointer-events: none; /* クリックできないようにする */
}

/*ログインのcss*/
